*{
    padding: 0px;
    margin: 0px;
}
body,#main{

    width: 100%;
    height: 400px;
    background-color: antiquewhite;
}
#mainrow{
    width: 98%;
    height: 90%;
    display: flex;
}
#regdiv{
    width: 40%;
    height: 80%;
    border: 2px solid black;
    padding: 2% 2%;
    margin: 2.5% 5%;
    text-align: center;
}
#logindiv{
width: 40%;
height: 80%;
border: 2px solid black;
padding: 2% 2%;
margin: 2.5% 5%;
}
#reg{
    display: flex;
    flex-wrap: wrap;
    align-items: center;
}
.ureg{
    height: 20px;
    width:60%;
    align-items: center;
}