#main{
    height: 200px;
    width: 400px;
    background-color: rgb(156, 203, 203);
}
#submitt{
    height: 20px;
    width: 60px;
    position: relative;
    animation-name: ash infinite 3s linear;
}
@keyframes ash {
    0% {
        color: #000;
        transform: rotate(0) translate3D(-50%, -50%, 0);
      }
      30% {
        color: #431236;
      }
      100% {
        color: #000;
        transform: rotate(360deg) translate3D(-50%, -50%, 0);
      }
}